* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  

.about-section {
    padding-top: 10%;
    padding-left: 200px;
    padding-right: 150px;
    padding-bottom: 60px;
}


.about-section hr{
    border: 2px solid;
    background-color: black;
}

.about-label {
    padding-bottom: 3%;
}

.about-text {
    background-color: rgb(167, 167, 167);
    border-radius: 44px;
    padding: 50px;
    color: white;
}
.participant {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.p-photo {
    border-radius: 50px;
    width: 60px;
}

.about-text h1{
    text-align: center;
}