@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.seguindo {
  background-color: #cdc8c8;
  border-radius: 30px;
  padding: 50px;
  width: 300px;
}

.perfil-inf {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.stars {
  background-color: white;
  border-radius: 35px;
  padding: 35px 50px 35px 50px;
  text-align: center;
}

.list-stars {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.section {
  width: 600px;
  padding: 15px 50%;
  text-align: center;
  padding-right: 0px;
}

.inf{
  display: flex;
  flex-direction: row;
  width: 20%;
  padding-left: 230px;
  padding-right: 0px;
  padding-top: 11%;
  padding-bottom: 2%;
}

.post{
  width: 1000px;
  background: #FFF1F1;
  border: 1px solid;
  border-color: #D4BABA;
  border-radius: 6px;
  padding-top: 10px;
  color: #626262;
}

.user-profile{
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 0px;
}

.user-profile img{
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px
}
.user-profile p{
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}
.user-profile span{
  font-size: 13px;
  color: #9a9a9a;
}
.texto-post{
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;
  padding-left: 50px;
  padding-right: 0px;
}
.texto-post span{
  color: #626262;
  font-weight: 500;
}
.img-post{
  width: 500px;
  height: 500px;
  padding: 0px;
  border-radius: 4px;
  margin-bottom: 5px;
  border: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 0px;
  align-items: center;
}

.buttons p{
  text-align: center;
}

.perfil-img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  border: 1px solid;
}

.BTN-inf {
  display: flex;
  flex-direction: row;
}
.like-btn{
  display: flex;
  color: black;
  align-items: center;
}
.like-btn:hover{
  color: #F2C438;
}

.star-logo {
  width: 60px; 
}

.sobre-link {
  color: #CB7474;
}

.sobre-link a{
  text-decoration: underline;
}
